


@font-face {
  font-family: VT323;
  src: url(/assets/VT323-Regular.woff);
}


.title{
  text-align: center;
  height: 10%;
  width: 100%;
  margin-bottom: 2%;
  font-family: VT323;
}
.container{
  display:inline;
  float: left;
  position: fixed;
  width: 100%;
}

/*pixel drawing canvas*/
.canvas{
  height: 70%;
}


@supports (display: grid) {
  .doodle-grid{
    display: grid;
    min-width: 45%;
    grid-template-columns: repeat(8, 5vw);
    grid-template-rows: repeat(8, 5vw);
    position: fixed;
    left:30%;
    top:12%;

  }
  .doodle-grid > div{
    border: 1px solid black;
    min-height: 5vw;
    min-width: 5vw;
  }
}
/*End pixel drawing canvas formatting*/
/*color select and save*/
.color-select{
  position:fixed;
  top: 12%;
  left:5%;
  width: 15vw;
  height: 74vh;
  padding: 2%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 10px #888;
  overflow: auto;
  font-family: VT323;
  font-size: larger;
}

#colorPick{
  margin: 1%;
}

#saveButton{
 margin: 1%;
 font-family: VT323;
 font-size: medium;
}
@supports (display: grid) {
  .color-grid{
    display: grid;
    grid-template-columns: repeat(2, 5vw);
    grid-template-rows: auto;
    column-gap: 1vh;
    row-gap: 1vh;
    position: absolute;
    left: 20%;
    
  }
}
/*end color select and save*/

/*palette generator*/
.palette{
  position: fixed;
  left: 80%;
  top: 12%;
  width: 10vw;
  height: 78vh;
  padding-top: 2%;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 10px #888;
}
#paletteButton{
  font-family: VT323;
  font-size: medium;
}
@supports (display: grid) {
  .palette-grid{
    display: grid;
    grid-template-columns: 5vw;
    grid-template-rows: repeat(6, 5vw);
    row-gap: 1vh;
    margin-top: 2vh;
    position: relative;
    left: 25%;
  }

  .palette-grid > div {
    min-width: 5vw;
    min-height: 5vw;
    border: 1px solid black;
  } 
}
/*end palette generator*/

/*Lightmode toggle switch for the future*/
/*
.slider-div{
  position: absolute;
  width: 10vh;
  top: 4%;
  left: 85%;
}
.left-span{
  position: absolute;
  left: 10%;
  top: 20%;
}

.right-span{
  position: absolute;
  right: 15%;
  top: 10%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 8vh;
  height: 4vh;
  top: 2%;

}

/* Hide default HTML checkbox */
/*
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/*
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 1px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(4vh);
  -ms-transform: translateX(4vh);
  transform: translateX(4vh);
}

/* Rounded sliders */
/*
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*End lightmode toggle formating*/
